<div class="w-fit">
  <div class="flex flex-row justify-content-between">
    <p-card header="Prenota">
      <div class=" flex flex-column justify-content-center w-20rem">
        <mat-form-field>
          <input matInput placeholder="Titolo prenotazione" minlength="50" required [(ngModel)]="req.nome">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CAP" maxlength="5" type="number" required [(ngModel)]="req.cap">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Indirizzo" maxlength="30" required [(ngModel)]="req.indirizzo">
        </mat-form-field>
        <mat-form-field class="h-10rem">
      <textarea matInput placeholder="Inserisci una descrizione del lavoro" maxlength="1000" required
                [(ngModel)]="req.descrizione"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mezzo scelto</mat-label>
          <mat-select [(ngModel)]="mezziselezionati" multiple>
            @for (mezzo of mezziDisponibili; track mezzo) {
              <mat-option [value]="mezzo" (onSelectionChange)="getOccupate(mezzo, $event)">{{ mezzo.nome }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex flex-row justify-content-end">
        <p-button label="Prenota" [text]="true" [raised]="true" (click)="confermaPrenotazione()"></p-button>
      </div>
    </p-card>
    <div class="w-4rem"></div>

      <div class="flex flex-auto" style="width: fit-content">
        @for (booking of subBooks; track booking) {
          <p-card header="Mezzo: {{booking.mezzo.nome}}" class="p-5">
            <div>
              <p-calendar selectionMode="multiple" [minDate]="getNextDate()"
                          [firstDayOfWeek]="1" [disabledDates]="daysMezzoOccupied.get(booking.mezzo.id!!)!!"
                          [inline]="true" [disabledDays]="[0,6]" [readonlyInput]="true"
                          [(ngModel)]="booking.giorni"
              />
            </div>
          </p-card>
        }
      </div>

  </div>


</div>
<p-dialog header="Prenotazione effettuata" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Riepilogo:</span>
  <app-riepilogo-prenotazione [response]="response"></app-riepilogo-prenotazione>
</p-dialog>
<p-dialog header="Errore nella prenotazione" [modal]="true" [(visible)]="showError" [style]="{width: '25rem'}">
  <span class="p-text-secondary block mb-5">Causa:</span>
  <app-errordialog [message]="errMessage"></app-errordialog>
</p-dialog>




