<!--
<div class="flex justify-content-start">
  <p-card header="Le tue prenotazioni">
    @for (p of prenotazioni; track p){
      <app-prenotazione-display [prenotazione]="p"></app-prenotazione-display>
    }
  </p-card>
</div>
-->
<p-card header="Le tue prenotazioni">
<p-table [value]="prenotazioni" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Codice</th>
      <th>Titolo</th>
      <th>Località</th>
      <th>Prezzo</th>
      <th>Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-prenotazione>
    <tr>
      <td>#{{ prenotazione.id}}</td>
      <td>{{ prenotazione.nome }}</td>
      <td>
        <div class="flex flex-column">
          {{ prenotazione.cap }}
          {{ prenotazione.indirizzo }}
        </div>
      </td>
      <td>{{ prenotazione.prezzostimato }}€</td>
      <td>
        <div class="flex flex-row justify-content-start">
          <button mat-icon-button class="hover:bg-primary-100" (click)="showInfos(prenotazione)">
            <mat-icon>info_outline</mat-icon>
          </button>
          <div style="width: 1rem"></div>
          <button mat-icon-button class="hover:bg-red-100">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>

      </td>
    </tr>
  </ng-template>
</p-table>
</p-card>
<p-dialog [header]="selPrenotazione?.nome" [modal]="true" [(visible)]="showInfo" [style]="{width: '100'}">
  <div class="flex flex-column justify-content-start">
    @for (sub of selPrenotazione?.subB; track sub){
      <mat-label>Mezzo prenotato:</mat-label>
      {{sub.mezzo?.nome}}
      <mat-label>Date scelte: </mat-label>
      @for (interval of sub.intervals; track interval){
        <div class="flex flex-row justify-content-between">
          <div>{{getDate(interval.start!!)}}</div>
          <div>{{displayInterval(interval)}}</div>
        </div>
      }
    }
  </div>
</p-dialog>
